body{
	font-family: cambria;
	font-size: 14pt;
}
 
th{
	text-align: left;
}
 
img{
	width: 100%;
	margin-bottom: 10px;
}
 
.kotak{
	border: 4px solid blue;
	width: 100%;
	margin: 10px auto;
	padding: 20px;
	background-color:greenyellow;
}
 
.judul{
	text-align: center;
        background: darkred;
		color:white;
}
 
.blok{
	overflow: hidden;
}
 
.kiri{
	width: 20%;
	float: left;
}
 
.kanan{
	width: 70%;
	padding:0px 20px;	
	float: left;
}
 
@media only screen and (max-width: 768px) {
	.kotak{
		width: 100%;
		padding: 0px;
		border: none;
	}
	
	.kiri{
		width: 100%;
	}
 
	.kanan{
		width: 100%;
		padding: 0;
	}
}
@media only screen and (max-width: 768px) {
	.kotak{
		width: 100%;
		padding: 0px;
		border: none;
	}
	
	.kiri{
		width: 100%;
	}
 
	.kanan{
		width: 100%;
		padding: 0;
	}
}
